<h1>Login</h1>

<form action="/login" method="post">
    <input type="text" name="username" placeholder="username">
<input type="password"name="password" placeholder="password">

<button>Login</button>
</form>

<h1>This is a Home Page</h1>

<li> <a href="/register">Sign Up!</a></li>
<l1><a href="/login"> Login </a></l1>